<div class="container-fluid">
    <div class="caja">

    <a href="/admin/novedades">
    <button type="button" class="btn btn-primary" href="/admin/novedades">Novedades</button>
    </a>

    <a href="/admin/empleados">
    <button type="button" class="btn btn-primary">Empleados</button>
    </a>  
    <a>
        <button class="btn btn-danger" style="">Cerrar sesion</button></a>
    </div>
</div>