<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar {{tipo}}</h4>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
            <div class="mb-3 row">
                <input type="text" class="form-control" placeholder="Titulo" name="titulo">
            </div>
            <div class="mb-3 row">
                <textarea type="text" class="form-control" placeholder="Subtitulo" name="subtitulo"></textarea>
            </div>
            <div class="mb-3 row" >
                <label style="display:flex; flex-direction:column; width:100%">Imagen : <input type="file" name="image" class="form-control"></label>
            </div>  
            <div class="mb-3 row">
                <textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>